.container {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: darkgray;
}
.quadrado_vermelho{
    width: 100px;
    margin: 100px;
    height: 100px;
    padding: 100px;
    align-items: center;
    justify-items: center;
    background-color:rgb(207, 14, 14);
}